{% extends 'base.html' %}
{% block home %}

<main class="container">
  <br><br>

  <div class="row mb-2">
    <div class="col-md-5">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary"><br></strong>
          <h3 class="mb-0 text-primary">Data Statistics</h3>
          <div class="mb-1 text-muted"></div>
          <p class="card-text mb-auto">it is a statistical method that is used to search and summarize historical data in order to identify 
            patterns or meaning.For learning analytics, this is a reflective analysis of learner data and is meant to provide insight into
             historical patterns of behaviors and performance in online learning environments.</p><br>
          <a href="/" class="stretched-link">Go to  Data Statistic</a>
        </div>
        <div class="col-auto d-none d-lg-block">
        
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static"><br>
           <h3 class="mb-0 text-primary">Classification</h3>
          <div class="mb-1 text-muted"></div>
          <p class="mb-auto">When we use classification, the result is a class, among a limited number of classes.
             With classes we refer to arbitrary categories according to the type of problem.</p>
             <h3 class="mb-0 text-primary">Regression</h3>
             <div class="mb-1 text-muted"></div>
             <p class="mb-auto">When we use regression, the result is a number. That is, the result of the machine learning technique that we
                are using will be a numerical value, within an infinite set of possible results.</p><br>
          <a href="/home" class="stretched-link">Go to Models</a>
        </div>
        <div class="col-auto d-none d-lg-block">
    
        </div>
      </div>
    </div>
  </div>

  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
       
      </h3>

     

    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        

        <div class="p-4">
         
        </div>

        <div class="p-4">
         
        </div>
      </div>
    </div>
  </div>

</main>

  {% endblock %}
 