{% extends 'base.html' %}
{% block models %}
<main>

  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-4">
        <form class="" action="{% url 'knn' %}" method="post" target="_blank">
          {%  csrf_token %}        
        <h3 class="mt-4">Classification</h3>
        <p>Calculate bla bla bla.</p>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <input type="submit" class="btn btn-dark select"name="knn"  value="K Neighbors Classifier">
          </li>
          <br>
          <li class="nav-item">
            <input type="submit"class="btn btn-dark select" name="DTC" value="Decision Tree Classifier">
          </li>
          <br>
          <li class="nav-item">
            <input type="submit"class="btn btn-dark select" name="SVC" value="SVC">
          </li>
          <br>
          <li class="nav-item">
            <input type="submit" class="btn btn-dark select"name="MLP" value="MLP Classifier">
          </li>
          <br>
         
        </ul>
        <hr class="d-sm-none">
      </form>
      </div>
      <div class="col-sm-8">
        <form class="" action="{% url 'knn' %}" method="post" target="_blank">
          {%  csrf_token %}        
        <h3 class="mt-4">Regression</h3>
        <p>Calculate bla bla bla.</p>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <input type="submit" class="btn btn-dark select"name="MULNB" value="Naive Bayes">
          </li>
          <br>
          <li class="nav-item">
            <input type="submit"class="btn btn-dark select" name="LIN" value="Linear Regression">
          </li>
          <br>
          <li class="nav-item">
            <input type="submit" class="btn btn-dark select"name="LOG" value="Logistic Regression">
          </li>
          <br>
          <li class="nav-item">
            <input type="submit"class="btn btn-dark select" name="DTR" value="DecisionTreeRegressor">
          </li>
          <br>
          <li class="nav-item">
            <input type="submit" class="btn btn-dark select"name="km" value="kmeans">
          </li>
          <br>
        
        </ul>
        <hr class="d-sm-none">
      </form>
      </div>
      
    </div>
  </div>
     
  </main>

 {% endblock %}
