{% extends 'base.html' %}
{% block regression %}

  
<div class="container">
<main>
  <div class="py-5 ">
    
    <h2>K Means</h2>
     </div>

  <div class="row g-8">
   
    <div class="col-md-7 col-lg-8">
      
      <form class="needs-validation" action="{% url 'result' %}" method="get" novalidate>        
          {%  csrf_token %}
        <div class="row g-3">
          <div class="col-12">
            <label for="address" class="form-label">Enter Input Prediction Values (Separated by Commas):</label>
            <input type="text" class="form-control" id="address" required name="SL" placeholder="1,2,3,4..." >
            <div class="invalid-feedback">
              Please enter input values.
            </div>
          </div>
          <div class="col-sm-6">
            <label for="firstName" class="form-label">Select Hyperparameters</label><br>
            <label for="Split" class="form-label">Split :</label>
            <input type="text" class="form-control" id="Split" name="Split" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid split is required.
            </div>
          </div>
         <div class="col-12">
            
          </div>

          <div class="col-md-5">
            <label class="form-label" for="n_clusters">N_clusters :</label>
            <input type="number" class="form-control" id="n_clusters" name="n_clusters" placeholder="" value="" required>
            
            <div class="invalid-feedback">
              Valid N_clusters is required.
            </div>
          </div>

            
          <div class="col-md-4">
            <label class="form-label" for="algorithm">Algorithm :</label>
            <select class="form-select" id="algorithm" name="algorithm" required>
              <option value="auto">auto</option>
              <option value="elkan">elkan</option>
            </select>
            <div class="invalid-feedback">
              Please select an algorithm.
            </div>
          </div>
         
        </div>

        <br>

        <div class="row gy-3">
          
          <br>
          <div class="col-md-6">
            <label  for="graph" class="form-label">Select Graph :</label>            
            <select id="graph"  class="form-select"  name="graph">
              <option value="line">line</option>
              <option value="pie">pie</option>
              <option value="hist">hist</option>
              <option value="scatter">scatter</option>
              <option value="corr">box</option>
            </select>

            <div class="invalid-feedback">
              Graph is required
            </div>
            
          </div>
          <br><br>
          <div class="col-md-3">
            
          </div>
          <br><br> <br><br>
          <div class="col-md-12">
            <input type="submit" name="submit8" class="w-100 btn btn-primary btn-lg" value="Submit"> <br><br>
            
          </div>
        </div>
        
        <hr class="my-4">
        <br>
         <div class="my-3">

          <div class="info col-md-6">
           
            <div class="box__info" style="height: 150px;">
              <table class="table table_attr-primary">
                <thead class="table">               
                <tr>
                        <th scope="col">Result</th>
                </tr>
                </thead>
                <tbody>               
                  <tr>
                    <th>Predicted value is = </th>
                    <th> <p>{{y_pred}}</p></th>
                  </tr>
                  <tr><th> The test accuracy is =</th>
                    <th> <p>{{acc}}</p></th>
                  </tr>
                    
                  <tr>  <th>The train accuracy is = </th>
                    <th> <p>{{acc1}}</p></th>
                  </tr>

                  <tr>  <th>The accuracy score is =</th>
                    <th> <p>{{acc_score}}</p></th>
                  </tr>

                  <tr>  <th> The Confusion Matrix is = </th>
                    <th> <p>{{confu_mx}}</p></th>
                  </tr>

                  <tr>  <th> The Classification report is = </th>
                    <th> <p>{{classifi}}</p></th>
                  </tr>
                  <br>
                       
                    </tbody>
            </table>      
         
         <br>  
        <div class="box__detail" style="width: 1000px; height: 600px;"  >
          <div class="scroll" style="width: 1000px; height: 600px;">
              <table class="table table-striped selectedTable"id="table_details">
                  <thead class="table-dark">                     
                      
                  </thead>
                  <tbody>     
     

        <h3>Graph</h3>
          {% autoescape off %}
          {{ plot_div }}
          {% endautoescape %}

       </tbody>
 
</div>
</div>
</div></div>

        </div>

         <div class="row gy-3">
          
        </div> 

        <hr class="my-4">

     

</form>

    </div>
  </div>
</main>


</div>

 

{% endblock %}
---------------------------------------------------------------------------------
<!-- 

{% load static %}<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    Bootstrap CSS
    
     <style>
        body {
          
          color: Black;
           
            }

            fieldset {
                color: #000; 


                border-radius: 25px;
                padding: 20px;
                width: 800px;
            }
            label {
                width: 180px;
                display: inline-block;
                text-align: right;
                vertical-align: text-top;
            }

            textarea {
                width: 360px;
                height: 50px;
            }
            .label-input-range {
                display: inline-block;
                text-align: center;
                width: 80px;
                color: red;
            }
            

        </style>

 
 
     
 

  </head>
     
       
<body>

  <nav class="navbar navbar-expand-lg">
    <div class="container">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                 
                  <a class="nav-link  " href="/">Data Statistic</a>
                </li>
                <li class="nav-item">
            
                  <a class="nav-link  " href="/home">Classification</a>
                </li>
                
              </ul>
            </div>
          </div>
    </div>
</nav>
<br>
<br>
    <h1>Kmeans</h1>

        <fieldset>


          <form class="" action="{% url 'result' %}" method="get">
            {%  csrf_token %}
            Enter the index for feature column (e.g 1,2,3,4): <input type="text" required name="fc"><br><br>
            Enter the index for TARGET COLUMN  : <input type="text" required name="tc"><br><br>
            Enter Input Prediction Values (Separated by Commas): <input type="text" required name="SL"> <br> <br>




            <legend>Select Hyperparameters</legend>
            <label for="Split">Split :</label>
            <input type="text" id="Split" name="Split">
            <br>
            <br>
            <label for="n_clusters">N_clusters :</label>
            <input type="number" id="n_clusters" name="n_clusters">
            <br>
            <br>
            <label for="algorithm">Algorithm :</label>
            <select id="algorithm" name="algorithm">
                <option value="auto">auto</option>
                <option value="elkan">elkan</option>
            </select>
            <br>
            <br>
            Enter the index for x-axis : <input type="text" required name="xaxis">
            <br>
            <br>
            Enter the index for y-axis : <input type="text" required name="yaxis">
            <br>
            <br>

            <label for="graph">Select Graph :</label>
            <select id="graph" name="graph">
              <option value="line">line</option>
              <option value="pie">pie</option>
              <option value="hist">hist</option>
              <option value="scatter">scatter</option>
              <option value="corr">corr</option>


            </select>
            <br>
            <br>

            <input type="submit" name="submit8"class="btn btn-dark select" value="Submit"> <br><br>




          </form>
        </fieldset>
        <div class="row">
          <div class="info col-md-6">
              <p>Information</p>
              <div class="box__info" style="height: 150px;">
                  <p>  predicted value is {{y_pred}}</p><br>
                  <p>     the test accuracy is {{acc}}</p><br>
                  <p>   the train accuracy is {{acc1}}</p>
        
        
           <br>
           <br>
           <br>
           <br>
           <br>  <br>
          <div class="box__detail" style="width: 1000px; height: 600px;"  >
            <div class="scroll" style="width: 1000px; height: 600px;">
                <table class="table table-striped selectedTable"id="table_details">
                    <thead class="table-dark">
                        
                        
                    </thead>
                    <tbody>
        
       

          <h3>Graph</h3>
            {% autoescape off %}
            {{ plot_div }}
            {% endautoescape %}




         </tbody>
   
  </div>
</div>
  </body>
</html> -->
