{% extends 'base.html' %}
{% block content %}
    <section class="py-6 bg-light-primary">
        <form method="POST" enctype="multipart/form-data">            
                {% csrf_token %}
        <div class="container">
            <div class="row justify-content-center text-center mb-4">
                <div class="row">
                    <div class="uploaded col-md-12">
                        
                            <h2 class="font-weight-bold">Classification <br>Obtein your result</h2>
                            <div class="input-group mb-3">
                                {% csrf_token %}
                                
                                <input type="file" class="form-control" name="document" id="nameFile">
                                <button class="btn btn-dark" type="submit" id="file">Apply</button>
                            </div>
                        </form>
                    </div>
                </div>               
            </div>
    
            <div class="row row-cols-lg-2 row-cols-md-2 row-cols-1 justify-content-center px-xl-6 aos-init aos-animate" data-aos="fade-up">
                <div class="col my-3">
                    <div class="card border-hover-primary hover-scale">
                        <div class="card-body">
                            <div class="text-primary mb-5">
                                <svg width="60" height="60" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24"></rect>
                                        <path d="M8,3 L8,3.5 C8,4.32842712 8.67157288,5 9.5,5 L14.5,5 C15.3284271,5 16,4.32842712 16,3.5 L16,3 L18,3 C19.1045695,3 20,3.8954305 20,5 L20,21 C20,22.1045695 19.1045695,23 18,23 L6,23 C4.8954305,23 4,22.1045695 4,21 L4,5 C4,3.8954305 4.8954305,3 6,3 L8,3 Z" fill="currentColor" opacity="0.3"></path>
                                        <path d="M11,2 C11,1.44771525 11.4477153,1 12,1 C12.5522847,1 13,1.44771525 13,2 L14.5,2 C14.7761424,2 15,2.22385763 15,2.5 L15,3.5 C15,3.77614237 14.7761424,4 14.5,4 L9.5,4 C9.22385763,4 9,3.77614237 9,3.5 L9,2.5 C9,2.22385763 9.22385763,2 9.5,2 L11,2 Z" fill="currentColor"></path>
                                        <rect fill="currentColor" opacity="0.3" x="10" y="9" width="7" height="2" rx="1"></rect>
                                        <rect fill="currentColor" opacity="0.3" x="7" y="9" width="2" height="2" rx="1"></rect>
                                        <rect fill="currentColor" opacity="0.3" x="7" y="13" width="2" height="2" rx="1"></rect>
                                        <rect fill="currentColor" opacity="0.3" x="10" y="13" width="7" height="2" rx="1"></rect>
                                        <rect fill="currentColor" opacity="0.3" x="7" y="17" width="2" height="2" rx="1"></rect>
                                        <rect fill="currentColor" opacity="0.3" x="10" y="17" width="7" height="2" rx="1"></rect>
                                    </g>
                                </svg>
                            </div>
                            <p>Information</p>
                <div class="box__info">
                    <p>File Name : {{ name }}</p>
                    <p>Attributes : {{ attributes }}</p>
                    <p>Row Data : {{ rows }}</p>
                </div>
                            <!-- <h6 class="font-weight-bold mb-3">Marketing Automation</h6> -->
                            <!-- <input type="submit" class="btn btn-outline-primary"name="knn"  value="K Neighbors Classifier">
                            
                            <p class="text-muted mb-0">Embed holistics charts directly to your application</p> -->
                        </div>
                    </div>
                </div>

                <div class="col my-3">
                    <div class="card border-hover-primary hover-scale">
                        <div class="card-body">
                            <div class="attributes col-md-6">
                                <p>Statistic Attributes</p>
                                <div class="box__attributes">
                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title-primary" id="exampleModalLabel">View Data</h5>
                                            <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="scrollAblee primary">
    
                                                    <table class="table table_attr-primary">
                                                        <thead class="table-primary">
                                                       
                                                        <tr>
                                                            {% if header %}
                                                                <th scope="col">No.</th>
                                                                {% for head in header %}
                                                                    <th scope="col">{{ head }}</th>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% if df %}
                                                            {% for datas in df %}
                                                                <tr>
                                                                    <td>{{ forloop.counter }}</td>
                                                                    {% for data in datas %}
                                                                        <td>{{ data }}</td>
                                                                    {% endfor %}
                                                                </tr>
                                                            {% endfor %}
                                                        {% endif %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    <!-- end modal -->
                                     <button type="button" style="align-items:right;" class="badge bg-dark view" data-bs-toggle="modal" data-bs-target="#exampleModal">View Data</button>
                                    <form method="POST" action="">
                                    <div class="scrollAble">
                                    <table class="table table_attr">
                                        <thead class="table-primary">
                                            <tr>
                                                <th>No.</th>
                                                <th>Name</th>
                                                {% if type != 'object' %}
                                                    <th>Minimum</th>
                                                    <th>Maximum</th>
                                                    <th>Mean</th>
                                                {% endif %}
                                                <th>Type</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if zipped_data %}
                                                {% for head,type,max,min,mean in zipped_data %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>{{ head }}</td>
                                                        {% if type != 'object' %}
                                                            <td>{{ min }}</td>
                                                            <td>{{ max }}</td>
                                                            <td>{{ mean }}</td>
                                                        {% else %}
                                                            <td> - </td>
                                                            <td> - </td>
                                                            <td> - </td>
                                                        {% endif %}
                                                        <td>{{ type }}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                        </div>
                            <!-- <h6 class="font-weight-bold mb-3">Social Media Marketing</h6> -->
                            
                            <!-- <input type="submit"class="btn btn-outline-primary" name="DTC" value="Decision Tree Classifier">
                            <p class="text-muted mb-0">Embed holistics charts directly to your application</p> -->
                        </div>
                    </div>
                </div>


                <!-- <div class="col my-3">
                    <div class="card border-hover-primary hover-scale">
                        <div class="card-body">
                            <div class="text-primary mb-2">
                                <svg width="40" height="40" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24"></rect>
                                        <path d="M22,17 L22,21 C22,22.1045695 21.1045695,23 20,23 L4,23 C2.8954305,23 2,22.1045695 2,21 L2,17 L6.27924078,17 L6.82339262,18.6324555 C7.09562072,19.4491398 7.8598984,20 8.72075922,20 L15.381966,20 C16.1395101,20 16.8320364,19.5719952 17.1708204,18.8944272 L18.118034,17 L22,17 Z" fill="currentColor"></path>
                                        <path d="M2.5625,15 L5.92654389,9.01947752 C6.2807805,8.38972356 6.94714834,8 7.66969497,8 L16.330305,8 C17.0528517,8 17.7192195,8.38972356 18.0734561,9.01947752 L21.4375,15 L18.118034,15 C17.3604899,15 16.6679636,15.4280048 16.3291796,16.1055728 L15.381966,18 L8.72075922,18 L8.17660738,16.3675445 C7.90437928,15.5508602 7.1401016,15 6.27924078,15 L2.5625,15 Z" fill="currentColor" opacity="0.3"></path>
                                        <path d="M11.1288761,0.733697713 L11.1288761,2.69017121 L9.12120481,2.69017121 C8.84506244,2.69017121 8.62120481,2.91402884 8.62120481,3.19017121 L8.62120481,4.21346991 C8.62120481,4.48961229 8.84506244,4.71346991 9.12120481,4.71346991 L11.1288761,4.71346991 L11.1288761,6.66994341 C11.1288761,6.94608579 11.3527337,7.16994341 11.6288761,7.16994341 C11.7471877,7.16994341 11.8616664,7.12798964 11.951961,7.05154023 L15.4576222,4.08341738 C15.6683723,3.90498251 15.6945689,3.58948575 15.5161341,3.37873564 C15.4982803,3.35764848 15.4787093,3.33807751 15.4576222,3.32022374 L11.951961,0.352100892 C11.7412109,0.173666017 11.4257142,0.199862688 11.2472793,0.410612793 C11.1708299,0.500907473 11.1288761,0.615386087 11.1288761,0.733697713 Z" fill="currentColor" fill-rule="nonzero" transform="translate(11.959697, 3.661508) rotate(-270.000000) translate(-11.959697, -3.661508) "></path>
                                    </g>
                                </svg>
                            </div>
                            <div class="attributes col-md-6">
                                <p>Attributes</p>
                                
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title-primary" id="exampleModalLabel">View Data</h5>
                                        <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="scrollAblee primary">

                                                <table class="table table_attr-primary">
                                                    <thead class="table-primary">
                                                   
                                                    <tr>
                                                        {% if header %}
                                                            <th scope="col">No.</th>
                                                            {% for head in header %}
                                                                <th scope="col">{{ head }}</th>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% if df %}
                                                        {% for datas in df %}
                                                            <tr>
                                                                <td>{{ forloop.counter }}</td>
                                                                {% for data in datas %}
                                                                    <td>{{ data }}</td>
                                                                {% endfor %}
                                                            </tr>
                                                        {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                end modal 
                                 <button type="button" style="align-items:right;" class="badge bg-dark view" data-bs-toggle="modal" data-bs-target="#exampleModal">View Data</button>
                                <form method="POST" action="">
                                start form page 
                                    <div class="box__detail">
                                        <div class="scroll">
                                            <table class="table table_attr-primary">
                                                <thead class="table-primary">
                                                    <th> </th>
                                                    <th>Name</th>
                                                </thead>
                                                <tbody>
                                                {% if header %}
                                                    {% for head in header %}
                                                        <tr>
                                                            {% csrf_token %}
                                                            <td> <input class="form-check-input header" type="checkbox" name="drop_header" value="{{head}}"></td>
                                                            <td id="headers">{{ head }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                   <br>
                                 radios 
                                    {% csrf_token %}
                                     <h5>   NOW SELECT WHICH MODEL YOU WANT TO USE: <button type="submit" class="btn btn-dark select" name="" value="result">ENTER</button></h5>
                                 radios 
                                </form>
                                end from page 
                            </div>


                              <h6 class="font-weight-bold mb-3">Search Engine Marketing</h6>
                            <input type="submit"class="btn btn-outline-primary" name="SVC" value="SVC">
                            <p class="text-muted mb-0">Embed holistics charts directly to your application</p>
                        </div>
                    </div>
                </div> -->
                   <div class="col my-3">
                    <div class="card border-hover-primary hover-scale">
                        <div class="chart col-md-6">
                            
                            <canvas id="myChart" width="100px" height="100px">                          
                                </canvas>                         

                        </div>
                        </div>
                    </div>
               
            </div>
        </div>
        
    </section>
    
    <!-- <body class="sb-nav-fixed">
    <div class="container">
        <div class="row">
            <div class="uploaded col-md-12">
                <form method="POST" enctype="multipart/form-data">
                    <div class="input-group mb-3">
                        {% csrf_token %}
                        <input type="file" class="form-control" name="document" id="nameFile">
                        <button class="btn btn-dark" type="submit" id="file">Apply</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">



            <div class="info col-md-6">                
                <p>Information</p>
                <div class="box__info">
                    <p>File Name : {{ name }}</p>
                    <p>Attributes : {{ attributes }}</p>
                    <p>Row Data : {{ rows }}</p>
                </div>
            </div>

            
            <div class="attributes col-md-6">
                <p>Statistic Attributes</p>
                <div class="box__attributes">
                    <div class="scrollAble">
                    <table class="table table_attr">
                        <thead class="table-primary">
                            <tr>
                                <th>No.</th>
                                <th>Name</th>
                                {% if type != 'object' %}
                                    <th>Minimum</th>
                                    <th>Maximum</th>
                                    <th>Mean</th>
                                {% endif %}
                                <th>Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if zipped_data %}
                                {% for head,type,max,min,mean in zipped_data %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ head }}</td>
                                        {% if type != 'object' %}
                                            <td>{{ min }}</td>
                                            <td>{{ max }}</td>
                                            <td>{{ mean }}</td>
                                        {% else %}
                                            <td> - </td>
                                            <td> - </td>
                                            <td> - </td>
                                        {% endif %}
                                        <td>{{ type }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="detail col-md-6">
                <p>Attributes</p>
                
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">View Data</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="scrollAblee">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        {% if header %}
                                            <th scope="col">No.</th>
                                            {% for head in header %}
                                                <th scope="col">{{ head }}</th>
                                            {% endfor %}
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if df %}
                                        {% for datas in df %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                {% for data in datas %}
                                                    <td>{{ data }}</td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
                end modal 
                 <button type="button" style="align-items:right;" class="badge bg-dark view" data-bs-toggle="modal" data-bs-target="#exampleModal">View Data</button>
                <form method="POST" action="">
                 start form page 
                    <div class="box__detail">
                        <div class="scroll">
                            <table class="table table-striped selectedTable"id="table_details">
                                <thead class="table-dark">
                                    <th> </th>
                                    <th>Name</th>
                                </thead>
                                <tbody>
                                {% if header %}
                                    {% for head in header %}
                                        <tr>
                                            {% csrf_token %}
                                            <td> <input class="form-check-input header" type="checkbox" name="drop_header" value="{{head}}"></td>
                                            <td id="headers">{{ head }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                   <br>
                radios
                    {% csrf_token %}
                    <h5>   NOW SELECT WHICH MODEL YOU WANT TO USE: <button type="submit" class="btn btn-dark select" name="" value="result">ENTER</button></h5>
                 radios
                </form>
                end from page 
            </div>-->
              
    </div>
    </body> 

<form method="post" action=" {% url 'home' %}" target="_blank">
    {%  csrf_token %}
 
</select>
  
</form>
<br>
<br><br><br><br>



{% endblock %}

{% block scripts %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

     <!-- Bootstrap CSS  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdnjs.com/libraries/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
    <!-- Bootstrap CSS  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    
    
<script>
  // chart bar
  $(document).ready(function(){
      var label = JSON.parse("{{headers|escapejs}}");
      var mins = JSON.parse("{{mins|escapejs}}");
      var means = JSON.parse("{{means|escapejs}}");
      var maxs = JSON.parse("{{maxs|escapejs}}");
      console.log(label)
      console.log(maxs)
      console.log(means)
      console.log(mins)
      var ctx = document.getElementById("myChart").getContext('2d');
      new Chart(ctx, {
          type: "bar",
          responsive: true,
          maintainAspectRatio: false,
          data: {
              labels: label,
              datasets: [
                  {
                  label: "Min",
                  data: mins,
                  backgroundColor: "rgba(255, 99, 132, 0.2)",
                  borderColor: "rgba(255, 99, 132, 1)",
                  borderWidth: 1
              },
              {
                  label: "Mean",
                  data: means,
                  backgroundColor: "rgba(255, 206, 86, 0.2)",
                  borderColor: "rgba(255, 206, 86, 1)",
                  borderWidth: 1
              },
              {
                  label: "Max",
                  data: maxs,
                  backgroundColor:"rgba(54, 162, 235, 0.2)",
                  borderColor: "rgba(54, 162, 235, 1)",
                  borderWidth: 1
              }
          ]
          },
          options: {
              scales: {
                  xAxes: [{ stacked: true }],
                  yAxes: [{ stacked: true}]
              }
          }
      });
  });
  
  // For a pie chart
  $(function(){
    var label = JSON.parse("{{label|escapejs}}");
    var data = JSON.parse("{{clusters|escapejs}}");
    const cts = document.getElementById('chart').getContext('2d');
    var coloR = [];
         var dynamicColors = function() {
            var randomColor = Math.floor(Math.random()*16777215).toString(16);
            return "#"+randomColor;
         };

         for (var i in data) {
            coloR.push(dynamicColors());
         }
    var chart = new Chart(cts,{
    type:'pie',
    data: {
          labels: label,
          datasets : [
          {
              label:'# of votes',
              data : data,
              backgroundColor:coloR,
              borderWidth:1
          }
          ]
      },
    });
  });



$(document).ready(function() {
     $('#save').click(function() {
     var currentPosition = document.getElementById("resultPdf").scrollTop;
      var w = document.getElementById("resultPdf").offsetWidth;
      var h = document.getElementById("resultPdf").offsetHeight;
      console.log(w)
      console.log(h)
     document.getElementById("resultPdf").style.height="auto";
     document.getElementById("resultPdf").style.background="white";

      html2canvas(document.getElementById("resultPdf"), {

        dpi: 300, // Set to 300 DPI
        scale: 1000, // Adjusts your resolution
        onrendered: function(canvas) {
          var img = canvas.toDataURL("image/jpeg", 1);
          var doc = new jsPDF('p', 'pt', 'a4');
          doc.addImage(img, 'JPEG', 0, 0, w-400, h);
          doc.addPage();
          doc.save('results.pdf');
        }
      });
     document.getElementById("resultPdf").style.height="365px";
     document.getElementById("resultPdf").scrollTop = currentPosition;
    });

});

</script>

    {% endblock %}
 